<!DOCTYPE html>
<html lang="ko">
  <%- include('include/head', {title: '로그인 페이지'})%>
  <body>
    <h1>로그인</h1>
    <!-- 
      [로그인] 버튼을 클릭하면 profile.ejs에서 특정 유저 정보를 보여주어야 하기 때문에 
      userid 정보를 value에 저장(POST /user/signin 요청의 응답을 받은 후 수행)하여
      폼(input)이 보이지 않도록 hidden 처리함
    -->
    <!-- <form name="form_info" action="/profile" method="POST">
      <input type="hidden" name="userid" />
    </form> -->

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="login();">Login</button>
    </form>

    <a href="/register">회원가입 페이지로</a>
    <a href="/">홈으로</a>

    <script>
      async function login() {
        const form = document.forms["form_login"];
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }
        const response = await axios({
          url: "/login",
          method: "POST",
          data: {
            inputId: form.userid.value,
            inputPw: form.pw.value,
          },
        });
        if (response.data) {
          console.log("res.data", response.data);
          alert("로그인 성공");
          document.location.href = "/";
        } else {
          alert("로그인에 실패했습니다. 아이디나 비밀번호를 확인해주세요.");
          form.reset();
        }
      }
    </script>
  </body>
</html>
