/*
 1. 기본
 - nesting
 - 자기 자신을 선택하는 &
 - 변수 사용
*/

@import "utils";

.div1 {
  width: 100px;
  height: 100px;
  background-color: $color-red;
  .div2 {
    width: 50%;
    height: 50%;
    background-color: $color-orange;
    box-shadow: inset $boxShadow;
    .div3 {
      background-color: $color-yellow;
      width: 50%;
      height: 50%;
      box-shadow: $boxShadow;
    }
  }

  .btn {
    display: inline-block;
    transition: $animation-duration;
    width: 33%;
    font-size: 8px;
    height: 40px;
    padding: 0;
    color: white;

    // .btn.orangered
    &.orangered {
      background-color: orangered;
    }

    // .btn--opacity
    &--opacity {
      background-color: $color_blue; // -과 _는 같게 취급
      opacity: 0.5;
      &:hover {
        opacity: 0.2;
      }
    }

    &--blue {
      background-color: $color-blue;
    }
  }
}

.container {
  width: 100%;
  background-color: gainsboro;

  .box1 {
    @include box;
    /* &:nth-child(1) {
      width: 100px;
    }
    &:nth-child(2) {
      width: 120px;
    }
    &:nth-child(3) {
      width: 140px;
    } */

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        //+ 문자 사이에 변수를 끼워넣거나 연산이 아닌 곳에 넣으려면 #{}와 함꼐 써야한다
        width: 80px + 20px * $i;
      }
    }
  }

  .circle {
    // @include circle($color-red, 0.8);
    $circleBgColors: ($color-orange, $color-yellow, $color-green);

    //+ nth-child는 종류 중요x 무조건 자식 순서에 따라, nth-of-type은 지정한 타입 중에서 순서를 따짐
    // &:nth-of-type(1) {
    //   @include circle($color-red, 0.8);
    // }
    // &:nth-of-type(2) {
    // }
    // &:nth-of-type(3) {
    // }

    @each $el in $circleBgColors {
      // index($리스트, $리스트의 value)
      // 반환값은 리스트의 value에 대한 index : 1, 2, 3 ...
      $index: index($circleBgColors, $el);
      &:nth-of-type(#{$index}) {
        @include circle($el, 0.8);
      }
    }
  }

  .box2 {
    @include box2();
    &:nth-of-type(4) {
      @include box2($color-yellow, 20px, navy);
    }
    &:nth-of-type(5) {
      @include box2($color-orange, 30px, black);
    }
  }
}

// 이미지에 접근하기
.img-test {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  &.src-img {
    // background-img 속성은 상대경로 사용
    background-image: url("../assets/macaw.png");
  }

  &.public-img {
    //+ public에서 배경이미지를 불러와서 사용할 경우 인라인으로 쓰든 url을 추가해서 사용하든 해야한다.
    background-image: url("http://localhost:3000/assets/macaw.png");
  }
}

// 실습
.practice {
  display: flex;
  justify-content: space-evenly;

  div {
    height: 150px;
    width: 100px;
    border-radius: 10%;
    background-color: $color-blue;
    box-shadow: $boxShadow;
    cursor: pointer;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background-image: url("../assets/practice#{$i}.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    // &:nth-child(1) {
    //   background-image: url("../assets/practice1.png");
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center;
    // }
  }
}
