main {
  .ListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .TodoList {
      width: 70vw;
      background-color: #fff0dd;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      color: #ff977d;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      div {
        display: flex;
        align-items: center;
        input {
          padding: 5px;
          margin: 3px;
          border: #ff977d 1px solid;
          background-color: #fff7ec;
          color: #ff7146;
        }
        button {
          border: 0;
          background-color: transparent;
          color: #ff977d;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .list {
        flex-direction: column;
        span {
          width: 100%;
          display: flex;
          align-items: center;
          button {
            background-color: transparent;
            border: 0;
            color: #ff6044;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .DoneList {
      width: 70vw;
      background-color: #ecf8ff;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      color: cornflowerblue;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        list-style-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='cornflowerblue' class='bi bi-hand-thumbs-up-fill' viewBox='0 0 16 16'><path d='M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z'/></svg>");
        li {
          width: 100%;
        }
      }
    }
  }
}
