<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket 실습 1</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h2>Hello World!</h2>
    <button id="hello">hello</button>
    <button id="study">study</button>
    <button id="bye">bye</button>
    <h5></h5>
    <script>
      const socket = io();
      const hello = document.getElementById("hello");
      const study = document.getElementById("study");
      const bye = document.getElementById("bye");
      const h5 = document.querySelector("h5");

      hello.addEventListener("click", (e) => {
        e.preventDefault();
        const txt = e.target.textContent;
        socket.emit(txt, txt, (res) => {
          h5.innerText = `${txt}: ${res}`;
        });
      });
      study.addEventListener("click", (e) => {
        e.preventDefault();
        const txt = e.target.textContent;
        socket.emit(txt, txt, (res) => {
          h5.innerText = `${txt}: ${res}`;
        });
      });
      bye.addEventListener("click", (e) => {
        e.preventDefault();
        const txt = e.target.textContent;
        socket.emit(txt, txt, (res) => {
          h5.innerText = `${txt}: ${res}`;
        });
      });
    </script>
  </body>

  <!-- 실습 풀이 -->
  <!-- <body>
    <h1>실습 1번</h1>
    <button onclick="hello()">hello</button>
    <button onclick="study()">study</button>
    <button onclick="bye()">bye</button>
    <h3></h3>

    <script>
      const socket = io();
      const h3 = document.querySelector("h3");

      function hello() {
        // socket.emit("hello", "hello", (message) => {
        //   h3.textContent = "server: " + message;
        // });
        socket.emit("hello", "hello");
        socket.on("hello2", (message) => {
          h3.textContent = "server: " + message;
        });
      }
      function study() {
        socket.emit("study", "study", (message) => {
          h3.textContent = "server: " + message;
        });
      }
      function bye() {
        socket.emit("bye", "bye", (message) => {
          h3.textContent = "server: " + message;
        });
      }
    </script>
  </body> -->
</html>
