.d-block {
    display: block;
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 20px;
}

.d-inline{
    display: inline;
    background-color: pink;
    width: 1000px;
    height: 200px;
    padding: 15px;
    margin: 20px;
}

.d-inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid blue;
    padding: 15px;
    margin: 20px;
}

.parent {
    width: 400px;
    /*
    width를 300px로 바꾸면 min은 400 유지, max는 같이 줄어듦
    width를 500px로 바꾸면 max는 400 유지, min은 같이 늘어남
    */
    height: 200px;
    background-color: red;
}

.parent > .min {
    min-width: 400px;
    height: 100px;
    background-color: orange;
}

.parent > .max {
    max-width: 400px;
    height: 100px;
    background-color: rebeccapurple;
}

.box {
    background-color: azure;
    border: 1px solid black;
}

.box-px {
    width: 50px;
    height: 50px;
}

.box-view {
    width: 50vw;
    height: 50vh;
}

.box-per {
    width: 50%;
    height: 50%; /* 부모인 body는 기본적으로 높이가 없다 */
}

.rem {
    font-size: 2rem;
}

.em {
    font-size: 2em;
}