.d-block {
    display: block;
    background-color: aquamarine;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding: 15px;
    margin: 20px;
}

.d-inline{
    display: inline;
    background-color: pink;
    width: 1000px;
    height: 200px;
    padding: 15px;
    margin: 20px;
}

.d-inline-block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid blue;
    padding: 15px;
    margin: 20px;
}

.parent {
    width: 400px;
    /*
    width를 300px로 바꾸면 min은 400 유지, max는 같이 줄어듦
    width를 500px로 바꾸면 max는 400 유지, min은 같이 늘어남
    */
    height: 200px;
    background-color: red;
}

.parent > .min {
    min-width: 400px;
    height: 100px;
    background-color: orange;
}

.parent > .max {
    max-width: 400px;
    height: 100px;
    background-color: rebeccapurple;
}

.box {
    background-color: azure;
    border: 1px solid black;
}

.box-px {
    width: 50px;
    height: 50px;
}

.box-view {
    width: 50vw;
    height: 50vh;
}

.box-per {
    width: 50%;
    height: 50%; /* 부모인 body는 기본적으로 높이가 없다 */
}

.rem {
    font-size: 2rem;
}

.em {
    font-size: 2em;
}

.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: blue;
}

.border {
    background-color: yellow;
    /* 단축 속성 : 굵기 모양 색깔 순으로 쓰면 된다 */
    /* border: 3px solid red; */
    border-color: blue orange purple red;
    border-style: dotted;
    border-width: 3px;
    border-right-width: 5px;
}

.rounded {
    background-color: yellowgreen;
    /* 원을 만들고 싶으면 폭높이의 반 값을 주면 된다 */
    border-radius: 5px 10px 20px 40px;
    border-radius: 5px 40px;
}

.box-sizing {
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}

/* width+padding+border 안에서 설정 */
.content-box {
    box-sizing: content-box;
}

/* width 안에서 설정 */
.border-box {
    box-sizing: border-box;
}

/* 자리+속성 모두 사라짐 */
    .d-none {
    display: none;
    background-color: red;
    }
/* 속성만 사라짐 */
    .invisible {
    visibility: hidden;
    background-color: orangered;
    }
/* 자리 속성 남아있고 보이지만 않음 */
    .opacity-0 {
    opacity: 0.5;
    background-color: tomato;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .overflow-auto {
        overflow: auto;
    }

    .overflow-scroll {
        overflow: scroll;
    }

    .overflow-visible {
        overflow: visible;
    }