body {
    /* background-image bg.jpg 되도록 */
    /* body- 수정하지 않아도 됩니다. */
    background-image: url('./img/char_selec_img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    display: flex;
    width: 95vw;
    height: 95vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .container .heroes {
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  
  .container .heroes .hero {
    background-color: gray;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 3px solid white;
    border-radius: 10px 10px;
    transform: skewX(-15deg);
    overflow: hidden;
    transition-duration: 1s;
  }
  
  .container .heroes .hero:hover {
    cursor: pointer;
    background-color: orange;
    transform: skewX(-15deg) scale(1.4);
    z-index: 1;
  }
  
  .container .heroes .hero .image {
    position: relative;
    transform: skewX(15deg);
    width: 80px;
    height: 80px;
    right: 1px;
    background-size: cover;
  }
  
  /* 로고 - 수정하지 않아도 됩니다. */
  .container .logo {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .container .logo img {
    width: 100%;
  }
  
  /* 사진 넣기 작업 */
  /* 사진이 해당 경로에 없다면 경로 수정해주세요. */
  .container .heroes .hero:nth-child(1) .image {
    background-image: url('./img/char_selec_img/hero1.png');
  }
  
  .container .heroes .hero:nth-child(2) .image {
    background-image: url('./img/char_selec_img/hero2.png');
  }
  
  .container .heroes .hero:nth-child(3) .image {
    background-image: url('./img/char_selec_img/hero3.png');
  }
  
  .container .heroes .hero:nth-child(4) .image {
    background-image: url('./img/char_selec_img/hero4.png');
  }
  
  .container .heroes .hero:nth-child(5) .image {
    background-image: url('./img/char_selec_img/hero5.png');
  }
  
  .container .heroes .hero:nth-child(6) .image {
    background-image: url('./img/char_selec_img/hero6.png');
  }
  
  .container .heroes .hero:nth-child(7) .image {
    background-image: url('./img/char_selec_img/hero7.png');
  }
  
  .container .heroes .hero:nth-child(8) .image {
    background-image: url('./img/char_selec_img/hero8.png');
  }
  
  .container .heroes .hero:nth-child(9) .image {
    background-image: url('./img/char_selec_img/hero9.png');
  }
  
  .container .heroes .hero:nth-child(10) .image {
    background-image: url('./img/char_selec_img/hero10.png');
  }
  
  .container .heroes .hero:nth-child(11) .image {
    background-image: url('./img/char_selec_img/hero11.png');
  }
  
  .container .heroes .hero:nth-child(12) .image {
    background-image: url('./img/char_selec_img/hero12.png');
  }
  
  .container .heroes .hero:nth-child(13) .image {
    background-image: url('./img/char_selec_img/hero13.png');
  }
  
  .container .heroes .hero:nth-child(14) .image {
    background-image: url('./img/char_selec_img/hero14.png');
  }
  
  .container .heroes .hero:nth-child(15) .image {
    background-image: url('./img/char_selec_img/hero15.png');
  }
  
  .container .heroes .hero:nth-child(16) .image {
    background-image: url('./img/char_selec_img/hero16.png');
  }
  
  .container .heroes .hero:nth-child(17) .image {
    background-image: url('./img/char_selec_img/hero17.png');
  }
  
  .container .heroes .hero:nth-child(18) .image {
    background-image: url('./img/char_selec_img/hero18.png');
  }
  
  .container .heroes .hero:nth-child(19) .image {
    background-image: url('./img/char_selec_img/hero19.png');
  }
  
  .container .heroes .hero:nth-child(20) .image {
    background-image: url('./img/char_selec_img/hero20.png');
  }
  
  .container .heroes .hero:nth-child(21) .image {
    background-image: url('./img/char_selec_img/hero21.png');
  }
  
  .container .heroes .hero:nth-child(22) .image {
    background-image: url('./img/char_selec_img/hero22.png');
  }
  
  .container .heroes .hero:nth-child(23) .image {
    background-image: url('./img/char_selec_img/hero23.png');
  }
  
  .container .heroes .hero:nth-child(24) .image {
    background-image: url('./img/char_selec_img/hero24.png');
  }
  
  .container .heroes .hero:nth-child(25) .image {
    background-image: url('./img/char_selec_img/hero25.png');
  }
  
  .container .heroes .hero:nth-child(26) .image {
    background-image: url('./img/char_selec_img/hero26.png');
  }
  
  .container .heroes .hero:nth-child(27) .image {
    background-image: url('./img/char_selec_img/hero27.png');
  }
  
  .container .heroes .hero:nth-child(28) .image {
    background-image: url('./img/char_selec_img/hero28.png');
  }
  
  .container .heroes .hero:nth-child(29) .image {
    background-image: url('./img/char_selec_img/hero29.png');
  }
  
  .container .heroes .hero:nth-child(30) .image {
    background-image: url('./img/char_selec_img/hero30.png');
  }
  
  .container .heroes .hero:nth-child(31) .image {
    background-image: url('./img/char_selec_img/hero31.png');
  }
  
  .container .heroes .hero:nth-child(32) .image {
    background-image: url('./img/char_selec_img/hero32.png');
  }
  